.app-content {
  margin-top: 64px;   
}

.title {
  font-size: x-large;
  margin-top: 1em;
  margin-bottom: 0;
}

.description {
  font-size: large;
  margin-bottom: 0;
}

.content {
  display: table;
}

.position, .summary {
  float: left;
  text-align: left;
}

.summary {
  padding-top: 0;
  padding-left: 40px;
  width: calc(100% - 120px);
}

.formItem {
  text-align: center;
}
